body {
    background-color: rgb(126, 214, 255);
}

.one {
    text-align: center;
    background-color:  rgb(69, 153, 192);
    color: white;
    margin: 15px;
    border: 1px solid rgb(69, 153, 192);
    border-radius: 20px;
}

h1 {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 70px;
}



